@{
    ViewData["Title"] = " Projects";
    
}

<h2>Projects</h2>
<p>
    Coding projects spanning from games to a simple calculator.
    <a href="https://github.com/Danie1Alexandre" target="_blank">github</a>
</p>

