<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="css/StyleSheet.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />

</head>
<body>
    <header>
        <h1>LOGO</h1>
        <nav class = "topNav">
            <ul>
                <li class="menuitem">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>

                <li class="menuitem">
                    <a asp-controller="Home" asp-action="About">About</a>
                </li>

                <li class="menuitem">
                    <a asp-controller="Home" asp-action="Contact">Contact</a>
                </li>

                <li class="menuitem">
                    <a asp-controller="Home" asp-action="Projects">Projects</a>
                </li>
                <li class="menuitem">
                    <a asp-controller="Doctor" asp-action="FeverCheck">Fever Check</a>
                </li>
                <li class="menuitem">
                    <a asp-controller="Game" asp-action="GuessingGame">Guessing Game</a>
                </li>
                <li class="menuitem">
                    <a asp-controller="People" asp-action="People">People</a>
                </li>
                <li class="menuitem">
                    <a asp-controller="Ajax" asp-action="Index">JQuery with Ajax function</a>
                </li>

            </ul>
        </nav>

    </header>

    <div>
        @RenderBody()
    </div>


    <footer>Daniel Alexandre, @DateTime.Now.ToLongDateString()</footer>
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src ="~/js/PersonScript.js"> </script>
</body>
</html>
