<div>

    <div>
        <h2>JQuery with Ajax function</h2>
        <div id="errorMessages"></div>
        <input tybe="button" class ="btn btn-primary" onclick="getPersonList()" value="get list of people" />
        
        <label for="PersonIdInputLable">Person ID</label>
        <input id="PersonIdInput" type="number" />

        <input type="button" class="btn btn-primary" onclick="getPersonByID()" value="DetailsForPerson" />
        <input type="button" class="btn btn-primary" onclick="deletePersonByID()" value="Delete" />
    </div>
    <div id="personList"></div>
    

</div>