@model PeopleViewModel



@{
    ViewData["Title"] = "People";
}

<div>
    <h1>People Index</h1>

    <div>
        <form asp-action="People" method="post" role="form">
             <h3>Search</h3>
             <input asp-for="searchPerson" required />
             <input type="submit"  value="search" />
         </form>
          <br />
    </div>

    <div>
        <form asp-action="CreatePerson" method="post" role="form">
            <div>
                <h3><b>Add new person</b></h3>
                <label asp-for="personName"></label>
                <input asp-for="personName" />
                <span style="color:rebeccapurple" asp-validation-for="personName"></span>

                <label asp-for="personCity"></label>
                <input asp-for="personCity" />
                <span style="color:rebeccapurple" asp-validation-for="personCity"></span>
   
                <label asp-for="personPhoneNumber"></label>
                <input asp-for="personPhoneNumber" />
                <span style="color:rebeccapurple" asp-validation-for="personPhoneNumber"></span>
              
                <input type="submit"  value="Add person" />
            </div>
            <br />
        </form>
    </div>


        <div class="container">
            <h3>Table of people</h3>
            <partial name="_PeopleListPartial" model="Model.peopleListView " />
        </div>

</div>